__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

outputs/
*.bin
*.csv
*.parquet
*.pdf
*.png

.env

# Local tooling / environments (too large for GitHub)
Miniconda3-latest-Linux-x86_64.sh
debrisdisks/
venv/
